<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%p\t%d{ISO8601}\t%t\t%c\t%m%n"/>
        </layout>
    </appender>
    <logger name="com.sun.jersey.guice.spi.container"><level value="warn"/></logger>
    <logger name="org.eclipse.jetty.server.handler.ContextHandler"><level value="warn"/></logger>
    <logger name="org.eclipse.jetty.server.Server"><level value="warn"/></logger>
    <logger name="com.sun.jersey.server.impl.application.WebApplicationImpl"><level value="warn"/></logger>
    <root>
        <priority value="info"/>
        <appender-ref ref="console"/>
    </root>

</log4j:configuration>
